[submodule "firmware/encoder-rs485"]
	path = embedded/encoder-rs485
	url = https://github.com/Ocanath/encoder-rs485
[submodule "embedded/bootloader/dartt_bootloader"]
	path = embedded/encoder-bootloader/dartt_bootloader
	url = https://github.com/ocanath/dartt_bootloader
[submodule "api/external/dartt-protocol"]
	path = api/external/dartt-protocol
	url = https://github.com/ocanath/dartt-protocol
[submodule "api/external/byte-stuffing"]
	path = api/external/byte-stuffing
	url = https://github.com/ocanath/byte-stuffing
[submodule "api/external/serial-cross-platform"]
	path = api/external/serial-cross-platform
	url = https://github.com/ocanath/serial-cross-platform
